
fieldset {
  border: none;
  padding: 0;
}


.form {
  font-family: 'Roboto', sans-serif;
  /* letter-spacing: -0.01rem;  */
  width: 400px;
  font-size: 1rem;
}

.form label {
  font-family: 'arial', sans-serif;
  font-size: 0.8rem;
  letter-spacing: 0;
  margin-left: 0.7rem;
  line-height: 0.7rem;
  font-weight: bold;
  /* font-family: 'arial', sans-serif;
  font-size: 15px;
  font-weight: 400; */
 
}

.form input {
  margin-top: -0.1rem;
  margin-bottom: 1.9rem;
  font-family: 'Roboto', sans-serif;
  font-size: 0.9rem;
  letter-spacing: 0.02rem;
  width: 300px;
  padding: 5px;
  border: none;
  /* border-left: 1px solid #e0e0e0; */
  border-bottom: 2px solid #e0e0e0;
  caret-color: red;
}

.form textarea {
  margin-top: -0.1rem;
  margin-bottom: 1.9rem;
  font-family: 'Roboto', sans-serif;
  font-size: 0.9rem;
  letter-spacing: 0.02rem;
  width: 300px;
  padding: 8px;
  border: none;
  border: 1px solid #e0e0e0;
  /* border-bottom: 2px solid #e0e0e0; */
  caret-color: red;
}

.form textarea:hover,
.form textarea:focus,
.form input:hover, 
.form input:focus {
  border-bottom: 2px solid #ec4e3e;
  outline: none;
  transition: border-color 1s ease 0s;
}

input.disabled {
  background-color: #EEE;
  padding: 10px;
  border: none;
}

input.disabled:hover,
input.disabled:focus {
  border: none;
}

.req {
  color: red;
}


.form button {
  height: 3rem;
  width: 300px;
  margin-top: 4%;
  background-color: #829DB1; 
  /* border: 2px solid #337ab4; */
  color: #FFF;
  font-size: 1rem;
  /* transition: background-color 1s ease 0s; */
  transition-property: background;
  transition-duration: 0.8s;
  transition-timing-function: ease-in-out;
}

.form button:disabled {
  cursor: not-allowed;
  pointer-events: auto;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #5d6164;
  background: #e5e5e5;
}

.form button:hover,
.form button:focus,
.form button:active {
  background-color: #336B87;
  /* background-color: red; */
  outline: none;
  transition: background-color 0.5s ease 0s;
}

.form button:hover:disabled,
.form button:focus:disabled,
.form button:active:disabled {
  background: #e5e5e5;
  /* background-color: #337ab4; */
  /* background-color: red; */
}


@media only screen and (max-width: 1100px) {
}


/* mobile, grid Originally 740 */
@media only screen and (max-width: 740px) {
}

