* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  /* font-family: 'Josefin Sans', sans-serif; */
  font-size: 15px;
  letter-spacing: -0.00rem; 
  color: #26211C;
}

.bg-white {
  background-color: #FFF; 
}
  
.bg-peach {
  background-color: #FFEDDD; 
}
.bg-blk {
  background-color: #26211C;
}


.test{
  font-family: 'Courier New', Courier, monospace;
  border: 1px solid red;

}

a:link, 
a:visited {
  text-decoration: none;
  /* font-weight: 500; */
  display: inline-block;
  vertical-align: middle;
  color: #0272b6;
}

a:hover, 
a:focus  {
  color: #00619A;
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 1px;
}

.i {
  font-style: italic;
}


/* transparent border is used to fill some bg-color */
.bd {
  border: 1px solid transparent;
}

.row {
  max-width: 1100px;
  width: 100%;
  margin: 5rem auto 13rem auto;
}

.mgt-6 {
  margin-top: 6rem;
}

.mgt-4 {
  margin-top: 4rem;
}

.mgt-2 {
  margin-top: 2rem;
}

.mgt-1 {
  margin-top: 1rem;
}

.fi {
  -webkit-animation: fadein 1.5s; 
          animation: fadein 1.5s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  opacity: 0.7;
  margin-top: -128px;
  margin-left: -128px;
  z-index: 1;
}

/* Form to be edited later */
label {
  display: block;
  margin: 6px;
}

input, textarea, button {
  margin: 6px;
  display: block;
}

.message {
  padding: 12px 6px;
}

.message-success {
  background-color: #5CB85C;
  color: white;
}

.message-error, .form-error {
  font-family: 'arial', sans-serif;
  font-size: 0.8rem;
  letter-spacing: 0;
  margin-left: 0.7rem;
  line-height: 0.7rem;
  background-color: #d9534f;
  font-weight: normal;
  color: white;
  border-radius: 5%;
}

.form-error {
  margin: 0 6px;
  margin-bottom: -5px;
  padding: 5px 5px;
  display: inline-block;
}

.al-r {
  text-align: right;
}

.hr-line{
  position: fixed;
  top: 5rem;
  border-top: 1px solid rgba(38, 33, 28, 0.3);
  height: 1px;
  width: 100%;
  z-index: 1;
}

/* Non-mobile, grid 740 */
@media only screen and (max-width: 760px) {

  .row {
    max-width: 1100px;
    width: 100%;
    margin: 0rem auto 6rem auto;
  }
  .mgt-6{
    margin-top: 1rem;
  }
  .hr-line{
    position: static;
  }
  
}

